<div class="panel searchBar">
  <form id="{{name}}" action="{{getRoute}}" method="get">
    <div class="form-group">
      {{#each searchFields}}
          <span class="mr-1">
            <label>{{this.label}}</label>
            <input type="{{this.type}}" name="{{this.name}}" id="input{{this.name}}{{../name}}" placeholder="{{this.placeholder}}">
          </span>
      {{/each}}
      <button type="submit" class="btn btn-primary btn-sm">Search</button>
    </div>
  </form>
</div>
