<div class="modal-header">
  <h4 class="modal-title">Filter</h4>
  <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>



<form id="{{name}}" action="{{getRoute}}" method="get">
  <div class="modal-body">
    {{#each searchFields}}
      <div class="input-group p-1">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon{{this.name}}{{../name}}">{{this.label}}</span>
        </div>
        <input class="form-control" type="{{this.type}}" name="{{this.name}}" id="input{{this.name}}{{../name}}" placeholder="{{this.placeholder}}" aria-describedby="basic-addon{{this.name}}{{../name}}">
      </div>
    {{/each}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary ml-1">{{buttonName}}</button>
  </div>

</form>

