<h1> Car Ride </h1>

<hr />

<table>
  <tr>
    <td> DriverID </td>
    <td> Date </td>
    <td> Time </td>
    <td> Trip start Location </td>
    <td> Destination </td>
  </tr>
  {{#with ride}}
    <tr>
      <td>{{driver}}</td>
      <td>{{date}}</td>
      <td>{{time}}</td>
      <td>{{origin}}</td>
      <td>{{destination}}</td>
    </tr>
  {{/with}}
</table>

<hr />
<h3>Current Highest Bid: {{#each highestBid }}{{this.result}}{{/each}}</h3>
<table>
  <tr>
    <td> Bidder ID </td>
    <td> Bid amount </td>
  </tr>
  {{#each bids }}
    <tr>
      <td>{{this.bidder}}</td>
      <td>{{this.bidamount}}</td>
      <td>{{this.date}}</td>
      <td>
        <form action="/driver/updateBidStatus" method="post">
          <input id="bidder_user_id" type="number" name="bidder_user_id" value="{{this.bidder}}" hidden="true">
          <input id="driver_user_id" type="number" name="driver_user_id" value="{{this.driver}}" hidden="true">
          <input id="date" type="text" name="date_field" value="{{this.date}}" hidden="true">
          <input id="time" type="text" name="time_field" value="{{this.time}}" hidden="true">
          <input id="origin" type="text" name="origin_field" value="{{this.origin}}" hidden="true">
          <input id="destination" type="text" name="destination_field" value="{{this.destination}}" hidden="true">
          <input type="submit" value="Select Bidder">
        </form>
      </td>
    </tr>
  {{/each}}
</table>
