<h1> Car Ride </h1>

<hr />

<table>
  <tr>
    <td> DriverID </td>
    <td> Date </td>
    <td> Time </td>
    <td> Trip start Location </td>
    <td> Destination </td>
  </tr>
  {{#with ride}}
    <tr>
      <td>{{driver}}</td>
      <td>{{date}}</td>
      <td>{{time}}</td>
      <td>{{origin}}</td>
      <td>{{destination}}</td>
    </tr>
  {{/with}}
</table>
