<div class="d-flex flex-md-row pt-3 pl-2 pr-2  justify-content-start align-items-end">
  <div class="">
    <h1>Ride</h1>
  </div>
</div>

<hr />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <td> Date </td>
      <td> Time </td>
      <td> Trip start Location </td>
      <td> Destination </td>
      {{#if winningBid}}
      <td> Rider name </td>
      <td> Email </td>
      <td> Contact Number </td>
      {{/if}}
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>{{ride.date_readable}}</td>
        <td>{{ride.time_readable}}</td>
        <td>{{ride.origin}}</td>
        <td>{{ride.destination}}</td>
        {{#if winningBid}}
        <td>{{winningBid.name}}</td>
        <td>{{winningBid.email}}</td>
        <td>{{winningBid.contactnumber}}</td>
        {{/if}}
      </tr>
  </tbody>
</table>



<h3>Current Highest Bid: {{#each highestBid }}{{this.result}}{{/each}}</h3>
<table>
  <tr>
    <td> Bidder ID </td>
    <td> Bid amount </td>
  </tr>
  {{#each pendingBids }}
    <tr>
      <td>{{this.bidder}}</td>
      <td>{{this.bidamount}}</td>
      <td>{{this.date}}</td>
      <td>
        <form action="/driver/updateBidStatus" method="post">
          <input id="bidder_user_id" type="number" name="bidder_user_id" value="{{this.bidder}}" hidden="true">
          <input id="driver_user_id" type="number" name="driver_user_id" value="{{this.driver}}" hidden="true">
          <input id="date" type="text" name="date_field" value="{{this.date}}" hidden="true">
          <input id="time" type="text" name="time_field" value="{{this.time}}" hidden="true">
          <input id="origin" type="text" name="origin_field" value="{{this.origin}}" hidden="true">
          <input id="destination" type="text" name="destination_field" value="{{this.destination}}" hidden="true">
          <input type="submit" value="Select Bidder">
        </form>
      </td>
    </tr>
  {{/each}}
</table>
