<h1> Driver View </h1>

<h2> Create Car Ride </h2>
<form action="/rides/create" method="post">
    <label for="date">Date: </label>
    <input id="date" type="date" name="date_field" value="2018-10-30">

    <label for="time">Time: </label>
    <input id="time" type="time" name="time_field" value="14:30">

    <label for="origin">Starting location: </label>
    <input id="origin" type="text" name="origin_field" value="Suntec City">

    <label for="destination">Destination: </label>
    <input id="destination" type="text" name="destination_field" value="M.A.A.D City">

    <input type="submit" value="OK">
</form>

<hr />

<h2> Confirmed Rides </h2>
<table>
  <tr>
    <td> Date </td>
    <td> Time </td>
    <td> Trip start Location </td>
    <td> Destination </td>
    <td> Car </td>
  </tr>
{{#each confirmedRides}}
  <tr>
      <td>{{this.date}}</td>
      <td>{{this.time}}</td>
      <td>{{this.origin}}</td>
      <td>{{this.destination}}</td>
      <td>{{this.car}}</td>
    <td>
      <form action="/rides" method="get">
        <input id="ride_id" type="number" name="id" value="{{this.id}}" hidden="true">
        <input type="submit" value="View">
      </form>
    </td>
  </tr>
{{/each}}
</table>

<h2> Pending Rides </h2>
<table>
  <tr>
    <td> Date </td>
    <td> Time </td>
    <td> Trip start Location </td>
    <td> Destination </td>
    <td> Car </td>
  </tr>
{{#each pendingRides}}
  <tr>
      <td>{{this.date}}</td>
      <td>{{this.time}}</td>
      <td>{{this.origin}}</td>
      <td>{{this.destination}}</td>
      <td>{{this.car}}</td>
    <td>
      <form action="/rides" method="get">
        <input id="ride_id" type="number" name="id" value="{{this.id}}" hidden="true">
        <input type="submit" value="Edit">
      </form>
    </td>
  </tr>
{{/each}}
</table>
