<!-- HEADER WITH LINK TO DRIVER -->
<div class="d-flex flex-md-row pt-3 pl-2 pr-2 justify-content-start align-items-end">
  <div class="">
    <h1>Drive</h1>
  </div>
  <div class="p-1">
    | or view as a <a href="/rider/">rider</a>
  </div>
  <div class="ml-auto">
    <button type="button" class="btn btn-outline-default btn-md" data-toggle="modal" data-target="#createCar">Add Car</button>
  </div>
  <div class="pl-1">
    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#createRide">Create Ride</button>
  </div>
</div>

<!-- Modal -->
<div id="createRide" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Create Ride</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <form action="/rides/create" method="post">
          <input type="number" name="driver_field" value="{{driverId}}" hidden="true">
          
          <div class="modal-body">

            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="date_field">Date</label>
              </div>
              <input type="date" name="date_field" class="form-control" placeholder="2018-12-01">
            </div>

            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="time_field">Time</label>
              </div>
              <input type="time" name="time_field" class="form-control" value="08:00:00">
            </div>

            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="origin_field">From</label>
              </div>
              <input type="text" name="origin_field" placeholder="Origin" class="form-control">
            </div>

            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="destination_field">To</label>
              </div>
              <input type="text" name="destination_field" placeholder="Destination" class="form-control">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="submit" value="OK">Submit</button>
          </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal -->
<div id="createCar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Add Owned Car</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <form action="/driver/addCar" method="post">
        <input type="number" name="owner_field" value="{{driverId}}" hidden="true">
          
          <div class="modal-body">

            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="licensePlate_field">Plate No.</label>
              </div>
              <input type="text" name="licensePlate_field" class="form-control" placeholder="SAB1234C">
            </div>

            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="carBrand_field">Brand</label>
              </div>
              <input type="text" name="carBrand_field" class="form-control" placeholder="Toyota">
            </div>

            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="carModel_field">Model</label>
              </div>
              <input type="text" name="carModel_field" placeholder="Corolla" class="form-control">
            </div>

            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="numAvailSeats_field">Seats Available</label>
              </div>
              <input type="number" name="numAvailSeats_field" placeholder="4" class="form-control">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="submit" value="OK">Submit</button>
          </div>
      </form>
    </div>
  </div>
</div>

<hr />


<!-- GARAGE -->
<div class="d-flex justify-content-start align-items-center p-2">
  <div data-toggle="collapse" data-target="#collapseGarage">
    <h3>Garage</h3> 
  </div>
</div>

<div class="collapse show" id="collapseGarage">
  <div class="row">
    {{#if ownedCars}}
      {{#each ownedCars}}
        <div class="col-sm-6 col-md-4">
          <div class="card border-default">
            <div class="card-body">
              <h3 class="card-title">{{this.licenseplate}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{this.carbrand}} {{this.carmodel}}</h6>
              <div class="text-muted">{{this.numseats}} seats available</div>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <div class="col-12">
        <div class="pl-4 pb-4 d-flex justify-content-start align-items-baseline">
          <div class="text-muted">
            No cars owned
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</div>




<div class="d-flex justify-content-start align-items-center p-2 pt-4">
  <div data-toggle="collapse" data-target="#collapseConfirmedRides">
    <h3>Confirmed Rides</h3> 
  </div>
</div>

<div class="collapse show" id="collapseConfirmedRides">
  <div class="row">
    {{#if confirmedRides}}

      {{#each confirmedRides}}
        <div class="col-sm-6 col-md-4 mb-4">
          <div class="card border-success">
            <div class="card-body">
              <h5 class="card-title"><span class="badge badge-success">{{this.i}}</span> <b>{{this.origin}}</b> <span class="text-muted">to</span> <b>{{this.destination}}</b></h5>
              <h6 class="card-subtitle mb-2 text-muted">{{this.date_readable}} @ {{this.time_readable}}</h6>
              <h6 class="text-muted">{{this.car}}</h4>

            </div>
            <div class="card-footer p-1">
                <form action="/rides" method="post">
                  <input id="driver_id" type="text" name="driver" value="{{this.driver}}" hidden="true">
                  <input id="date_id" type="text" name="date" value="{{this.date}}" hidden="true">
                  <input id="time_id" type="text" name="time" value="{{this.time}}" hidden="true">
                  <input id="origin_id" type="text" name="origin" value="{{this.origin}}" hidden="true">
                  <input id="destination_id" type="text" name="destination" value="{{this.destination}}" hidden="true">
                  <button class="btn btn-outline-success" type="submit">Details</button>
                </form>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <div class="col-12">
        <div class="pl-4 pb-4 d-flex justify-content-start align-items-baseline">
          <div class="text-muted">
            No confirmed rides
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</div>

<div class="d-flex justify-content-start align-items-center p-2">
  <div data-toggle="collapse" data-target="#collapsePendingRides">
    <h3>Pending Rides</h3> 
  </div>
</div>

<div class="collapse show" id="collapsePendingRides">
  <div class="row">
    {{#if pendingRides}}
      {{#each pendingRides}}
        <div class="col-sm-6 col-md-4 mb-4">
          <div class="card border-default">
            <div class="card-body">
              <h5 class="card-title"><span class="badge badge-dark">{{this.i}}</span> <b>{{this.origin}}</b> <span class="text-muted">to</span> <b>{{this.destination}}</b></h5>
              <h6 class="card-subtitle mb-2 text-muted">{{this.date_readable}} @ {{this.time_readable}}</h6>
              <h6 class="text-muted">{{this.car}}</h4>
            </div>
            <div class="card-footer">
              <div class="btn-group" role="group">
                <form action="/rides" method="post">
                  <input id="driver_id" type="text" name="driver" value="{{this.driver}}" hidden="true">
                  <input id="date_id" type="text" name="date" value="{{this.date}}" hidden="true">
                  <input id="time_id" type="text" name="time" value="{{this.time}}" hidden="true">
                  <input id="origin_id" type="text" name="origin" value="{{this.origin}}" hidden="true">
                  <input id="destination_id" type="text" name="destination" value="{{this.destination}}" hidden="true">
                  <button class="btn btn-outline-dark" type="submit">Manage</button>
                </form>
                <form action="/rides/delete" method="post">
                  <input id="ride_id" type="number" name="driver" value="{{this.driver}}" hidden="true">
                  <input id="date_id" type="text" name="date" value="{{this.date}}" hidden="true">
                  <input id="time_id" type="text" name="time" value="{{this.time}}" hidden="true">
                  <input id="origin_id" type="text" name="origin" value="{{this.origin}}" hidden="true">
                  <input id="destination_id" type="text" name="destination" value="{{this.destination}}" hidden="true">
                  <button class="btn btn-outline-danger" type="submit">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <div class="col-12">
        <div class="pl-4 pb-4 d-flex justify-content-start align-items-baseline">
          <div class="text-muted">
            No pending rides
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</div>
