<h1> Driver View </h1>

<hr />
<h2> List of Owned Cars </h2>
<table>
  <tr>
    <td> License Plate </td>
    <td> Car Brand </td>
    <td> Car Model </td>
    <td> Number Of Seats </td>
  </tr>
  {{#each ownedCars}}
    <tr>
      <td>{{this.licenseplate}}</td>
      <td>{{this.carbrand}}</td>
      <td>{{this.carmodel}}</td>
      <td>{{this.numseats}}</td>
    </tr>
  {{/each}}
</table>

<hr />

<h2> Add a Car </h2>

<form action="/driver/addCar" method="post">
    <input type="number" name="owner_field" value="{{driverId}}" hidden="true">

    <label for="date">License Plate: </label>
    <input id="date" type="text" name="licensePlate_field" value="SLM5370D">

    <label for="carBrand">Car Brand: </label>
    <input id="carBrand" type="text" name="carBrand_field" value="BMW">

    <label for="carModel">Car Model: </label>
    <input id="carModel" type="text" name="carModel_field" value="530e iPerformance">

    <label for="numAvailSeats">Number Of Available Seats: </label>
    <input id="numAvailSeats" type="number" name="numAvailSeats_field" value="3">

    <input type="submit" value="OK">
</form>

<hr />

<h2> Create Car Ride </h2>
<form action="/rides/create" method="post">
    <input type="number" name="driver_field" value="{{driverId}}" hidden="true">

    <label for="date">Date: </label>
    <input id="date" type="date" name="date_field" value="2018-10-30">

    <label for="time">Time: </label>
    <input id="time" type="time" name="time_field" value="14:30">

    <label for="origin">Starting location: </label>
    <input id="origin" type="text" name="origin_field" value="Suntec City">

    <label for="destination">Destination: </label>
    <input id="destination" type="text" name="destination_field" value="M.A.A.D City">

    <input type="submit" value="OK">
</form>

<hr />

<h2> Confirmed Rides </h2>
<table>
  <tr>
    <td> Date </td>
    <td> Time </td>
    <td> Trip start Location </td>
    <td> Destination </td>
    <td> Car </td>
  </tr>
{{#each confirmedRides}}
  <tr>
      <td>{{this.date}}</td>
      <td>{{this.time}}</td>
      <td>{{this.origin}}</td>
      <td>{{this.destination}}</td>
      <td>{{this.car}}</td>
    <td>
      <form action="/rides" method="get">
        <input id="ride_id" type="number" name="id" value="{{this.id}}" hidden="true">
        <input type="submit" value="View">
      </form>
    </td>
  </tr>
{{/each}}
</table>

<h2> Pending Rides </h2>
<table>
  <tr>
    <td> Date </td>
    <td> Time </td>
    <td> Trip start Location </td>
    <td> Destination </td>
    <td> Car </td>
  </tr>
{{#each pendingRides}}
  <tr>
      <td>{{this.date}}</td>
      <td>{{this.time}}</td>
      <td>{{this.origin}}</td>
      <td>{{this.destination}}</td>
      <td>{{this.car}}</td>
    <td>
      <form action="/rides" method="post">
        <input id="driver_id" type="text" name="driver" value="{{this.driver}}" hidden="true">
        <input id="date_id" type="text" name="date" value="{{this.date}}" hidden="true">
        <input id="time_id" type="text" name="time" value="{{this.time}}" hidden="true">
        <input id="origin_id" type="text" name="origin" value="{{this.origin}}" hidden="true">
        <input id="destination_id" type="text" name="destination" value="{{this.destination}}" hidden="true">
        <input type="submit" value="View Bids">
      </form>
    </td>
    <td>
      <form action="/rides/delete" method="post">
        <input id="ride_id" type="number" name="driver" value="{{this.driver}}" hidden="true">
        <input id="date_id" type="text" name="date" value="{{this.date}}" hidden="true">
        <input id="time_id" type="text" name="time" value="{{this.time}}" hidden="true">
        <input id="origin_id" type="text" name="origin" value="{{this.origin}}" hidden="true">
        <input id="destination_id" type="text" name="destination" value="{{this.destination}}" hidden="true">
        <input type="submit" value="Delete">
      </form>
    </td>
    <td>
      <form action="/rides/delete" method="post">
        <input id="ride_id" type="number" name="driver" value="{{this.driver}}" hidden="true">
        <input id="date_id" type="text" name="date" value="{{this.date}}" hidden="true">
        <input id="time_id" type="text" name="time" value="{{this.time}}" hidden="true">
        <input id="origin_id" type="text" name="origin" value="{{this.origin}}" hidden="true">
        <input id="destination_id" type="text" name="destination" value="{{this.destination}}" hidden="true">
        <input type="submit" value="Delete">
      </form>
    </td>
  </tr>
{{/each}}
</table>
