<h1> Rider View </h1>

<hr />

<h2> Confirmed Rides </h2>
<table>
  <tr>
    <td> Driver </td>
    <td> Date </td>
    <td> Time </td>
    <td> Origin </td>
    <td> Destination </td>
    <td> Car </td>
  </tr>
  {{#each confirmedRides}}
    <tr>
      <td>{{this.driver}}</td>
      <td>{{this.date}}</td>
      <td>{{this.time}}</td>
      <td>{{this.origin}}</td>
      <td>{{this.destination}}</td>
      <td>{{this.car}}</td>
      <td>
        <form action="/rides" method="get">
          <input id="ride_id" type="number" name="id" value="{{this.id}}" hidden="true">
          <input type="submit" value="View">
        </form>
      </td>
    </tr>
  {{/each}}
</table>

<h2> Rides that you have bid for</h2>
<table>
  <tr>
    <td> Driver </td>
    <td> Date </td>
    <td> Time </td>
    <td> Origin </td>
    <td> Destination </td>
    <td> Car </td>
  </tr>
  {{#each biddedRides}}
    <tr>
      <td>{{this.driver}}</td>
      <td>{{this.date}}</td>
      <td>{{this.time}}</td>
      <td>{{this.origin}}</td>
      <td>{{this.destination}}</td>
      <td>{{this.bidamount}}</td>
      <td>{{this.car}}</td>
      <td>
        <form action="/bidding/update" method="post">
          <input type="number" name="bidder_field" value="{{4}}" hidden="true">
          <input type="number" name="driver_field" value="{{4}}" hidden="true">
          <input type="text" name="date_field" value="{{4}}" hidden="true">
          <input type="text" name="time_field" value="{{4}}" hidden="true">
          <input type="text" name="origin_field" value="{{4}}" hidden="true">
          <input type="text" name="destination_field" value="{{4}}" hidden="true">
          <input type="number" name="bid_amount_field" value={{4}}>
          <input type="submit" value="Change bid">
        </form>
      </td>
    </tr>
  {{/each}}
</table>

<h2>Upcoming rides</h2>
<table>
  <tr>
    <td> Driver </td>
    <td> Date </td>
    <td> Time </td>
    <td> Origin </td>
    <td> Destination </td>
    <td> Car </td>
  </tr>
  {{#each availableRides}}
    <tr>
      <td>{{this.driver}}</td>
      <td>{{this.date}}</td>
      <td>{{this.time}}</td>
      <td>{{this.origin}}</td>
      <td>{{this.destination}}</td>
      <td>{{this.car}}</td>
      <td>
        <form action="/bidding/create" method="post">
          <input type="number" name="bidder_field" value="{{user}}" hidden="true">
          <input type="number" name="driver_field" value="{{this.driver}}" hidden="true">
          <input type="text" name="date_field" value="{{this.date}}" hidden="true">
          <input type="text" name="time_field" value="{{this.time}}" hidden="true">
          <input type="text" name="origin_field" value="{{this.origin}}" hidden="true">
          <input type="text" name="destination_field" value="{{this.destination}}" hidden="true">
          <input type="number" name="bid_amount_field">
          <input type="submit" value="Bid for this ride">
        </form>
      </td>
    </tr>
  {{/each}}
</table>
